.loginForm
{
    width: 50%;
    transform: translate(50%,50%);
}
.customerContainer strong
{
    cursor: pointer;
}
.customerContainer:hover
{
    background-color: rgb(211, 211, 211);
}

.customerContainer .inputs
{
    display: flex;
    align-items: center;
}
.customerContainer .inputs label
{
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 25px;
}

.buttondiv> button,a
{
    margin-right: 20px;
}